* {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

* ::-webkit-scrollbar {
  display: none;
}

body {
  position: relative;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #cee;
  /* color: white; */
  /* background-image: url('../images/sea-side.jpg'); */
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

main {
  background-color: rgba(255, 255, 255, 0.7);
  margin: 10px auto;
  width: 90%;
  height: calc(100% - 80px);
  border-radius: 6px;
  border: 1px solid #ddd;
  padding: 20px;
}

.topBar {
  height: 60px;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #ffc;
}

/* 
input[type='button'] {
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: rgb(32, 128, 180);
  border-radius: 4px;
  font-size: large;
  color: white;
}

input[type='button']:hover {
  background-color: rgb(50, 150, 200);
}

input[type='button']:active {
  color: white;
  border: 1px solid #aaa;
} */

.button {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  border: 1px solid #ddd;
  background-color: rgb(32, 128, 180);
  border-radius: 4px;
  font-size: large;
  color: white;
}

.button:hover {
  background-color: rgb(50, 150, 200);
}

.button:active {
  color: white;
  border: 1px solid #aaa;
}

.backView {
  transition: all 0.2s;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 0;
  height: 0;
  background-color: rgba(40, 80, 100, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.inputContainer {
  position: relative;
  width: 50%;
  height: 60%;
  max-width: 600px;
  max-height: 400px;
  min-width: 400px;
  min-height: 400px;
  background-color: white;
  overflow: hidden;
  border-radius: 6px;
}

.inputContainer > h3 {
  background-color: brown;
  padding: 15px;
  margin: 0 0 30px 0;
  text-align: center;
  font-weight: normal;
  color: white;
  font-size: 22px;
}

.inputContainer > label {
  margin: 20px 11% 10px 11%;
  font-size: large;
  display: block;
}

.inputContainer > input[type='text'],
.inputContainer > textarea {
  margin: 10px auto;
  padding: 10px;
  font-size: large;
  border: 1px solid #999;
  border-radius: 4px;
  width: 80%;
  display: block;
}

.inputContainer > textarea {
  height: 100px;
  resize: none;
}

.inputContainer > .button {
  display: block;
  position: absolute;
  bottom: 20px;
  right: 10%;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-image: url('../images/x-mark-48.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  cursor: pointer;
}

.closeButton:hover {
  background-color: black;
}

.closeButton:active {
  background-color: gray;
}

.projectRow {
  display: flex;
}

.projectsSideBar {
  border: 1px solid #cee;
  border-radius: 4px;
  width: 30%;
  height: 100%;
  padding: 20px;
  overflow: scroll;

}

.projectsSideBarRow {
  position: relative;
  border-bottom: 1px solid #cee;
  margin-bottom: 4px;
  cursor: pointer;
  color: #555;
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: right center;
  /* display: flex; */
}

.projectsSideBarRow:hover {
  color: brown;
  background-image: url('../images/edit-32.png');
}

.projectRowTitle {
  width: calc(100% - 40px);
  padding: 10px 0;
}

.projectRowEdit {
  position: absolute;
  right: 0;
  top: calc(50% - 20px);
  height: 40px;
  width: 40px;
}

.projectRowEdit:hover {
  background-color: rgba(255, 255, 255, 0.2);
}